<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <div *ngIf="cargoHold.length === maxItems || item.mass > (maximumAllowedMass - cargoMass) ; else activate">
                <button disabled>Add to Cargo Hold</button>>
              </div>
              
              <ng-template #activate>
                <button class="active" (click)="addItem(item.name, item.mass)">Add to Cargo Hold</button>>
              </ng-template>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <div *ngIf="200 >= (maximumAllowedMass - cargoMass); else normalMode">
        <p [class.nearMaxMass] = true >Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    </div>
    <ng-template #normalMode>
        <p [class.nearMaxMass] = false >Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    </ng-template>
   
<button (click)="emptyHold()">Empty Hold</button>
</div>

